.iconbutton{
    width: 48px;
    height: 48px;
	transition: .5s;
    line-height: 48px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    color: var(--On-surface-variant-color);
    .btn-overlay{
        background-color: var(--On-surface-variant-color);
        position: absolute;
    }
    &.active{
        color: var(--Primary-color);
    }
    .iconbutton-container{
        margin: auto;
        width: 40px;
	    transition: .5s;
        line-height: 40px;
        display: flex;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        align-items: center;
        svg{
            width: 24px;
            margin: auto;
            height: 24px;
            font-size: 24px;
        }
        // &.shadow-none{
        //     box-shadow: none;
        // }
        &.filled{
            box-shadow: 1px 1px 6px -2px #000;
            box-shadow: 1px 1px 4px -2px #000;
            // &.shadow-none{
            //     box-shadow: none;
            // }
        }
    }
    &:hover > .iconbutton-container{
    	
    }
    &:active > .iconbutton-container{
    	box-shadow: none;
	  	filter: brightness(90%);
    }
    &:disabled{
        .iconbutton-container{
            // background-color: var(--On-surface-color);
            opacity: 38%;
            color: var(--On-surface-color);
            box-shadow: none;
        }
        &:hover > .iconbutton-container{
            box-shadow: none;
        }
        &:active > .iconbutton-container{
            box-shadow: none;
              filter: brightness(90%);
        }
    }
}
