
.baseCartElement-box{
  background: var(--color-light);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: var(--text-color-darken-fon)
}
.line-el{
  background: var(--color-light);
}
.delete-box{
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 4;
  opacity: 0;
  transition: .5s;
}
.delete-box:hover{
  opacity: .8;
}
