.InputNumber{
  border: none
}
.InputNumber .InputNumber-btnUp,
.InputNumber .InputNumber-btnDown{
  background: var(--content-color);
  filter: brightness(var(--btn));
}
.InputNumber .InputNumber-btnUp i,
.InputNumber .InputNumber-btnDown i{
  color: var(--text-color);
}
