.InputNumber{
  border: none
}
.InputNumber .InputNumber-btnUp,
.InputNumber .InputNumber-btnDown{
  background: var(--color-light);
}
.InputNumber .InputNumber-btnUp i,
.InputNumber .InputNumber-btnDown i{
  color: var(--text-color-darken-fon);
}
