.list-container{
    padding: 8px 0;
    min-height: 56px;
    background-color: var(--Surface-color);
    &.transparent{
        background-color: transparent;
    }
    &.scroll{
        overflow-y: scroll;
    }
    li.list-item-container{
        padding: 8px 24px 8px 16px;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        position: relative;
        &.hovered:hover{
            box-shadow: inset 0 0 10px -8px var(--Shadow-color);

        }
        .text-container{
            flex: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .header{
                font-size: 16px;
                color: var(--On-surface-color);
            }
            .text{
                font-size: 14px;
                color: var(--On-surface-variant-color);
            }
        }
        .control-container{
            padding-left: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .icon-container{
            padding-right: 16px;
            display: flex;
            position: relative;
            flex-direction: column;
            color: var(--On-surface-variant-color);
            font-size: 24px;
            justify-content: center;
            align-items: center;
            min-width: 32px;
            svg{
                color: var(--On-surface-variant-color);
                width: 24px;
            }
            img{
                width: 32px;
                height: 32px;
                border-radius: 4px;
            }
        }
    }
}

