.programm-function-block-root{
  display: flex;
  position: relative;
  margin: 5px;
  color: #fff;
}
.programm-function-block-content-item{
  min-height: 30px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  line-height: 30px;
  text-align: center;
  background: #444;
  margin: 0 2px;
}
.programm-function-block-content-item.delete{
  background: #f00;
}
.programm-function-block-conteiner-item{
  border: 2px solid #444;
  display: flex;
  align-items: center;
  padding: 2px;
}
.programm-function-block-name{

}
