header{
  background: var(--color-darken);
  color: var(--text-color-darken-fon)
}
.searchBtn{
  background: var(--btn-color-darken);
  color: var(--text-color-darken-fon)
}
header .btn{
  background: var(--btn-color-darken);
  color: var(--text-color-darken-fon);
}
header .btn:hover,
header .btn.active{
  background: var(--active-v1-color);
}
.titleButtonAdd:hover{
  box-shadow: inset 0 0 5px #000;
}
.searchBtn:hover{
  background: var(--active-v1-color);
  opacity: 1;
}
