/* @import "./sidebar.light.css";
@import "./sidebar.night.css"; */
@import "./burger.base.css";
@import "./sidebar.color.css";

.sidebar{
  position: fixed;
  height: 100vh;
  width: 240px;
  right: -240px;
  top: 0;
  transition: .5s;
  z-index: 4;
}
.sidebar ul{
  position: relative;
  top: 150px;
}
.sidebar .toggle-sidebar{
  transition: .5s;
  height: 60px;
  width: 60px;
  position: fixed;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(45deg);
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  font-weight: 600;
  /* border-top-left-radius: 20px; */
  border-bottom-left-radius: 20px;
}
.arrow-menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  position: relative;
  left: 5px;
  top: -5px;
  transition: .5s;
}
.sidebar .toggle-sidebar div{
  transform: rotate(-45deg);
}
.arrow-menu i{
  transition: .5s;
}
.arrow-menu.active i{
  transform: rotate(180deg);
}
.sidebar.active{
  right: 0;
}
.sidebar.active .toggle-sidebar{
  right: 210px;
}
.sidebar ul li{
  margin: 4px 0;
  height: 60px;
  transition: .5s;
}
.sidebar ul li a{
  text-decoration: none;
  display: block;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 700px){
  /* .sidebar .toggle-sidebar{
    border-top-left-radius: 0;
    top: 60px;
  } */
  .sidebar{
    height: calc(100vh - 60px);
    top:60px;
  }
}
