.sidebar{
  background: var(--body-v1-color);
}
.sidebar .toggle-sidebar{
  background: var(--head-v2-color);
  color: var(--text-v1-color);
}
.sidebar.active .toggle-sidebar{
  background: var(--active-v1-color);
}
.sidebar ul{
  background: var(--body-v1-color);
}
.sidebar ul li{

}
.sidebar ul li a{
  color: var(--text-v1-color);
  background: var(--body-v3-color);
}
.sidebar ul li a:hover,
.sidebar ul li a.active{
  background: var(--active-v1-color);
}
