.menuTogleBtn{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
.menuTogleBtn:active{
  color: var(--color-active);
}
.contextmenu{
  display: none;
  position: absolute;
  top: 30px;
  right: 5px;
  z-index: 99;
  border-radius: 4px;
  box-shadow: 0 0 5px #000;
  background: var(--color-normal);
}
.contextmenu.show{
  display: block;
}
.contextmenuElement{
  padding: 0 5px;
  min-width: 100px;
  line-height: 40px;
  text-align: right;
  cursor: pointer;
  white-space: nowrap;
}
.contextmenuElement:hover{
  background: var(--color-normal);
  filter: brightness(80%);
}
.contextmenuElement .state{
  width: 10px;
  padding: 0 5px;
}
