@import "./newDeviceCart.color.css";
@import "./devMenu.css";

.NewCardElement{
  position: relative;
  width: 300px;
  /* min-height: 220px; */
  margin: 20px;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 4px;
  box-shadow: 0 0 10px #000;
}
.NewCardElement .NewCardHeader{
  min-height: 80px;
  position: relative;
}
.NewCardElement .NewCardHeader button{
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
  border: none;
  position: absolute;
}
.NewCardElement .NewCardHeader button.active{
  box-shadow: inset 0 0 5px var(--ok-v1-color);
}
.NewCardElement .NewCardHeader button:hover{
  box-shadow: inset 0 0 10px #000;
}
.NewCardElement .NewCardHeader .DeviceName p{
  font-size: 3em;
  /* text-align: center; */
}
.NewCardElement .NewCardHeader .typeConnect{
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.DeviceControlLi{
  display: flex;
  height: 50px;
  justify-content:space-between;
  line-height: 50px;
}
.DeviceControlLi .DeviceControlLiContent{
  display: flex;
  padding: 5px;
  align-items: center;
}
.DeviceLiControl{
  position: relative;
}
.DeviceLiControl select{
  font-size: 18px;
  border: none;
  border-radius: 2px;
  outline: none;
  min-width: 100px;
  text-align: center;
}
.DeviceControlLiName{
  display: flex;
  align-items: center;
  padding-left: 10px;
}
h4.offline{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 20px;
}
.NewCardElement .NewCardControl .cardControlBtn{
  border-radius: 0;
  width: 100%;
  height: 50px;
  border: none;
}
