.night .NewCardElement .NewCardHeader{
  background: #333;
  color: #fff;
}

.night .DeviceControlLi{
    background: #333;
    color: #fff;
}
.night .DeviceControlLi:nth-child(2n+1){
  background: #ddd;
  color: #000;
}
.night .DeviceControlLi:nth-child(2n+2){
  background: #333;
}
.night .NewCardElement .NewCardControl .cardControlBtn{
  background: #888;
}
.night .NewCardElement .NewCardControl .cardControlBtn:hover{
  background: #ccc;
  /* color: #fff; */
}
