.NewCardElement .NewCardHeader{
  background: var(--head-color);
  color: var(--text-color);
}
.DeviceControlLi{
    background: var(--head-color);
    color: var(--text-color);
}
.DeviceControlLi:nth-child(2n+1){
  background: var(--content-color);
  color: var(--text-color);
}
.DeviceControlLi:nth-child(2n+2){
  background: var(--content-darken-color);
  /* filter: brightness(50%); */
}
.NewCardElement .NewCardControl .cardControlBtn{
  background: var(--head-color);
}
.NewCardElement .NewCardControl .cardControlBtn:hover{
  background: var(--active-v1-color);
}
