@import "./newDeviceCart.light.css";
@import "./newDeviceCart.night.css";

.NewCardElement{
  position: relative;
  width: 300px;
  min-height: 220px;
  margin: 20px;
  overflow: hidden;
  transition: 0.5s;
}
.NewCardElement .NewCardHeader{
  min-height: 80px;
  background: #fff;
}
.NewCardElement .NewCardHeader .DeviceName p{
  font-size: 3em;
  /* text-align: center; */
}
.NewCardElement .NewCardHeader .typeConnect{
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.DeviceControlLi{
  display: flex;
  background: #fff;
  height: 50px;
  justify-content:space-between;
}
.DeviceControlLi:nth-child(2n+1){
  background: #ddd;
}
.DeviceControlLi:nth-child(2n+2){
  background: #fff;
}
.DeviceControlLi .DeviceControlLiContent{
  display: flex;
  padding: 5px;
  align-items: center;
}
.DeviceLiControl{
  position: relative;
}
.DeviceControlLiName{
  display: flex;
  align-items: center;
  padding-left: 10px;
}
h4.offline{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 20px;
}
.NewCardElement .NewCardControl .cardControlBtn{
  width: 100%;
  height: 50px;
  border: none;
  background: #cdd5dc;
}
.NewCardElement .NewCardControl .cardControlBtn:hover{
  background: #888;
  color: #fff;
}
