.NewCardElement .NewCardHeader{
  background: var(--color-darken);
  color: var(--text-color-darken-fon);
}
.DeviceControlLi{
    background: var(--color-darken);
    color: var(--text-color-darken-fon);
}
.DeviceControlLi:nth-child(2n+1){
  background: var(--color-light);
  color: var(--text-color-light-fon);
}
.DeviceControlLi:nth-child(2n+2){
  background: var(--color-normal);
  /* filter: brightness(50%); */
}
.NewCardElement .NewCardControl .cardControlBtn{
  background: var(--btn-color-darken);
  color: var(--text-color-darken-fon);
}
.NewCardElement .NewCardControl .cardControlBtn:hover{
  background: var(--active-v1-color);
}
