.ditailImage-body{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  padding: 20px 0;
}

.ditailImage-box{
  max-width: 1000px;
  min-width: calc(100% - 100px);
  margin: 50px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 0 5px #000;
}
.ditailImage-image{
  position: relative;
  overflow: hidden;
  background: var(--color-normal);
}
.ditailImage-image img{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ditailImage-control{
  position: relative;
  background: var(--color-normal);
  color: var(--text-color-normal-fon);
  padding: 5px 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ditailImage-control .dividers{
  margin: 10px 0;
}
.ditailImage-control .input-data,
.ditailImage-control .button{
  padding: 0 20px;
  width: calc(100% - 40px);
}
.ditailImage-control p{
  font-size: 24px;
  text-align: center;
}
.ditailImage-control select option{
  background: var(--color-normal);

}
