/* @import "./checkbox.light.css";
@import "./checkbox.night.css"; */
@import "./checkbox.color.css";

.custom1-checkbox{
  /* position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(0, -50%); */
  position: relative;
  width: 90px;
  height: 40px;
  border-radius: 25px;
}
.custom1-checkbox .custom1-inner{
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 20px;
}
.custom1-checkbox .custom1-inner .custom1-toggle{
  position: absolute;
  left: -1.5px;
  top: -2px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  box-sizing: border-box;
  transition: 0.5s;
}
.custom1-checkbox .custom1-inner.active .custom1-toggle{
  left: 48px;
}
.custom1-checkbox .custom1-inner.active{
  background: linear-gradient(0deg, #00d22d, #158a00);
}
.custom1-checkbox .custom1-inner .custom1-toggle::before{
  content: 'OFF';
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  line-height: 28px;
}
.custom1-checkbox .custom1-inner.active .custom1-toggle::before{
  content: 'ON';
  color: #00d22d
}
