.night .custom1-checkbox{
  background: linear-gradient(0deg, #222, #444);
  border-top: 0.02em solid #666;
  border-bottom: 0.02em solid #666;
}
.night .custom1-checkbox .custom1-inner{
  background: linear-gradient(0deg, #a5a5a5, #717171);
  box-shadow: inset 0 0 15px rgba(0,0,0,.5);
}
.night .custom1-checkbox .custom1-inner .custom1-toggle{
  background: linear-gradient(to bottom, #222, #444);
  box-shadow: 0 4px 6px rgba(0,0,0,.2);
  border-top: 0.04em solid #666;
  border-bottom: 0.01em solid #666;
}
.night .custom1-checkbox .custom1-inner .custom1-toggle::before{
  background: linear-gradient(to bottom, #444, #222);
  color: #a9a9a9
}
.night .custom1-checkbox .custom1-inner.active{
  box-shadow:0 0 10px #00d22d;
}
.night .custom1-checkbox .custom1-inner.active .custom1-toggle::before{
  text-shadow: 0 0 10px #00d22d,
  0 0 15px #00d22d,
  0 0 20px #00d22d,
  0 0 25px #00d22d;
}
