.custom1-checkbox{
  background: linear-gradient(0deg, var(--btn-color-darken), var(--color-darken));
  /* background: var(--color-darken); */
  border-top: 0.02em solid var(--color-darken);
  border-bottom: 0.02em solid var(--btn-color-darken);
}
.custom1-checkbox .custom1-inner{
  background: linear-gradient(0deg, var(--color-light), var(--color-normal));
  box-shadow: inset 0 0 15px rgba(0,0,0,.5);
}
.custom1-checkbox .custom1-inner .custom1-toggle{
  background: linear-gradient(to bottom, var(--btn-color-darken), var(--color-darken));
  box-shadow: 0 4px 6px rgba(0,0,0,.2);
  border-top: 0.04em solid var(--btn-color-darken);
  border-bottom: 0.01em solid var(--color-darken);
}
.custom1-checkbox .custom1-inner .custom1-toggle::before{
  background: linear-gradient(to bottom, var(--color-darken), var(--btn-color-darken));
  color: var(--text-color-light-fon);
}
.custom1-checkbox .custom1-inner.active{
  box-shadow:0 0 10px var(--ok-v1-color);
}
.custom1-checkbox .custom1-inner.active .custom1-toggle::before{
  text-shadow: 0 0 10px var(--ok-v1-color),
  0 0 15px var(--ok-v1-color),
  0 0 20px var(--ok-v1-color);
}
