.settings-navigation-button
{
    display: flex;
    justify-content: end;
}
.settings-navigation-container{
    padding: 0;
    border-radius: 10px;
    .table-icon-container{
        display: flex;
        justify-content: center;
    }
}