/* @import "./user.light.css";
@import "./user.night.css"; */
@import "./user.color.css";

.pagecontent{
  position: relative;
}
.pagecontent h2{
  text-align: center;
  font-size: 3em;
  padding: 10px;
}
.pagecontent p{
  font-size: 2em;
  text-align: center;
  margin: 10px;
  border-radius: 4px;
}
.pagecontent label{
  display: block;
  text-align: center;
  margin: 10px;
  border-radius: 4px;
}
.pagecontent label input[type="text"],
.pagecontent label input[type="number"],
.pagecontent label input[type="tel"],
.pagecontent label input[type="email"],
.pagecontent label input[type="password"]
{
  width: auto;
  display: inline-block;
  padding: 8px;
 font-size: 20px;
 width: 80%;
 text-align: center;
 border-radius: 2px;
 background: #0000;
 outline: none;
 margin: 10px;
}
button.button.highSelection,
a.button.highSelection{
  position: relative;
  width: 80%;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
  border: none;
  background: var(--color-active);
  color: var(--text-color-active-fon);
  text-decoration: none;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 15px;
  margin: 0;
  margin-bottom: 20px;
  border-radius: 4px;
  cursor: pointer;
}
a.button.normalSelection{
  line-height: 36px;
}
button.button.normalSelection,
a.button.normalSelection{
  padding: 0;
  position: relative;
  width: 80%;
  display: block;
  text-align: center;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
  border: 2px solid var(--color-active);
  color: var(--text-color-normal-fon);
  text-decoration: none;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 15px;
  margin: 0;
  margin-bottom: 20px;
  border-radius: 4px;
  cursor: pointer;
}
a.button:hover,
button.button:hover{
  background: var(--color-active);
  color: var(--text-color-active-fon);
}
a.button.highSelection:hover,
button.button.highSelection:hover{
  background: var(--btn-color-active);
}
@media (max-width: 400px){
  .pagecontent p{
    font-size: 1em;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
  }
  .pagecontent a,
  .pagecontent button{
    display: block;
  }
}
