.pagecontent p{
  border: 1px solid var(--color-darken);
  background: var(--color-normal);
}
.pagecontent label.textLabel{
  border: 1px solid var(--color-darken);
  background: var(--color-normal);
  color: var(--text-color-light-fon);
  /* padding-bottom: 8px; */
}
.pagecontent label p{
  border: none;
  background: #0000;
  color:var(--text-color-light-fon);
}
.pagecontent label input{
  border: 2px solid var(--color-darken);
  color: var(--text-color-darken-fon);
}
.pagecontent label p:hover{
  box-shadow: none;
}
.pagecontent a,
.pagecontent button{
  color: var(--text-color-darken-fon);
  background: var(--color-glass);
}
.pagecontent a:hover,
.pagecontent button:hover{
  background: var(--active-v1-color);
  color: var(--text-color-light-fon);
}
