*.pot
*.pyc
env
celerybeat-schedule
__pycache__/
local_settings.py
db.sqlite3
media
черновик
MediaList
TRASH
mosquitto/data/*
mosquitto/log/*
makefile
whileCost
zigbee2mqtt/database.db
zigbee2mqtt/log
zigbee2mqtt/*_backup.json
zigbee2mqtt/state.json
config/server-config.yml
test
devfront.sh
devserver.sh
SmartHome/files/*/*.*
SmartHome/files/*.yml
!SmartHome/files/server-config.yml
!SmartHome/files/devTypes.yml
!SmartHome/files/pages/basePage.yml
!SmartHome/files/styles/light.yml
!SmartHome/files/styles/night.yml
SmartHome/staticfile/
