*.pot
*.pyc
env
celerybeat-schedule
__pycache__/
local_settings.py
db.sqlite3
media
черновик
MediaList
TRASH
mosquitto/data/*
mosquitto/log/*

server-config.yml
zigbee2mqtt/database.db
zigbee2mqtt/log
zigbee2mqtt/state.json
