/* @import "./user.light.css";
@import "./user.night.css"; */
@import "./user.color.css";

.pagecontent{
  position: relative;
}
.pagecontent h2{
  text-align: center;
  font-size: 3em;
  padding: 10px;
}
.pagecontent p{
  font-size: 2em;
  text-align: center;
  margin: 10px;
  border-radius: 4px;
}
/* .pagecontent label{
  display: block;
  text-align: center;
  margin: 10px;
  border-radius: 4px;
} */
.pagecontent label input[type="text"],
.pagecontent label input[type="number"],
.pagecontent label input[type="tel"],
.pagecontent label input[type="email"],
.pagecontent label input[type="password"]
{
  width: auto;
  display: inline-block;
  padding: 8px;
 font-size: 20px;
 width: 80%;
 text-align: center;
 border-radius: 2px;
 background: #0000;
 outline: none;
 margin: 10px;
}
button.button.highSelection,
a.button.highSelection{
  padding: 0;
  position: relative;
  display: block;
  text-align: center;
  min-width: 64px;
  background: var(--color-active);
  color: var(--text-color-active-fon);
  text-decoration: none;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 15px;
  margin: 0;
  border-radius: 4px;
  cursor: pointer;
}
a.button.normalSelection{
  line-height: 36px;
}
.logout-btn{
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  line-height: 56px;
  font-size: 24px;
  text-align: center;
  z-index: 30;
  transition: .3s;
}
.logout-btn:hover{
  background: var(--btn-color-normal);
}
button.button.normalSelection,
a.button.normalSelection{
  padding: 0;
  position: relative;
  display: block;
  text-align: center;
  min-width: 64px;
  border: 2px solid var(--color-active);
  color: var(--text-color-normal-fon);
  text-decoration: none;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 15px;
  margin: 0;
  border-radius: 4px;
  cursor: pointer;
}
a.button:hover,
button.button:hover{
  background: var(--color-active);
  color: var(--text-color-active-fon);
}
a.button.highSelection:hover,
button.button.highSelection:hover{
  background: var(--btn-color-active);
}
.controlElement{
  min-height: 48px;
  display: flex;
  margin: 10px;
  position: relative;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.controlElement > a.button,
.controlElement > button.button{
  margin: 4px 8px 4px 0;
}
.liteButton{
  cursor: pointer;
}
@media (max-width: 400px){
  .pagecontent p{
    font-size: 1em;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
  }
  .controlElement{
    flex-direction: column;
  }
  .pagecontent a,
  .pagecontent button{
    display: block;
  }
}
