.settings-card{
    background-color: var(--Surface-container-low-color);
}
.server-settings-container{
    color: var(--On-surface-color);
    .settings-block-header{
        padding-left: 5px;
    }
}
.settings-field{
    padding: 5px;
}