.chips{
    padding: 0 8px 0 16px;
    border: 1px solid var(--Outline-color);
    display: inline-flex;
    border-radius: 6px;
    align-items: center;
    height: 32px;
    margin: 5px;
    .chips-btn{
        margin-left: 8px;
        font-size: 18px;
        cursor: pointer;
    }
    &.big-chips{
        height: auto;
        line-height: 32px;
    }
}