.light .sidebar{
  background: #aaa;
}
.light .sidebar .toggle-sidebar{
  background: #333;
  color: #fff;
}
.light .sidebar.active .toggle-sidebar{
  background: #1E90FF;
}
.light .sidebar ul{
  background: #aaa;
}
.light .sidebar ul li{

}
.light .sidebar ul li a{
  color: #fff;
  background: #444;
}
.light .sidebar ul li a:hover,
.light .sidebar ul li a.active{
  background: #1E90FF;
}
