.night .sidebar{
  background: #aaa;
}
.night .sidebar .toggle-sidebar{
  background: #333;
  color: #fff;
}
.night .sidebar.active .toggle-sidebar{
  background: #1E90FF;
}
.night .sidebar ul{
  background: #aaa;
}
.night .sidebar ul li{

}
.night .sidebar ul li a{
  color: #fff;
  background: #444;
}
.night .sidebar ul li a:hover,
.night .sidebar ul li a.active{
  background: #1E90FF;
}
