.color-base{
  background: var(--color-base);
}
.color-normal{
  background: var(--color-normal);
}
::-webkit-scrollbar {
    width: 15px; /* ширина для вертикального скролла */
    height: 15px; /* высота для горизонтального скролла */
    background-color: var(--color-normal-light);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: var(--color-base-light);
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #000;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-active-light);
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, var(--color-base) 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, var(--color-base) 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, var(--color-base) 30%, rgba(0, 0, 0, 0) 31%);
    background-color: var(--text-color-base-fon);
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, var(--color-base) 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, var(--color-base) 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, var(--color-base) 30%, rgba(0, 0, 0, 0) 31%);
  background-color: var(--text-color-base-fon);
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, var(--color-base) 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, var(--color-base) 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, var(--color-base) 30%, rgba(0, 0, 0, 0) 31%);
    background-color: var(--text-color-base-fon);
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, var(--color-base) 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, var(--color-base) 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, var(--color-base)30%, rgba(0, 0, 0, 0) 31%);
    background-color: var(--text-color-base-fon);
}

.conteiner{
    margin-top: var(--height-menu);
    margin-left: var(--width-menu);
    min-height: calc(100vh - var(--height-menu));
}

.glass-normal{
    background: var(--color-glass);
    color: var(--text-color-normal-fon);
}

.normal-color{
    background: var(--color-normal);
    color: var(--text-color-normal-fon);
}

.btn{
    box-sizing: content-box;
    margin: 10px;
    display: block;
    width: calc(100% - 20px);
    border: none;
    font-size: 18px;
    text-decoration: none;
    background: var(--color-active);
    color: var(--text-color-active-fon);
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.226),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14),
      0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: filter 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover{
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.btn:active{
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      filter: brightness(90%);
    }
.btn.border{
      background: transparent;
      border: 2px solid var(--color-active);
      color: var(--color-active);
    }
.btn.min{
      color: var(--color-active);
      background: transparent;
      box-shadow: none;
}
.btn.min:hover{
    filter: brightness(90%);
}
.btn.min:active{
        box-shadow: inset 0px 5px 5px -3px rgba(0, 0, 0, 0.2), inset 0px 4px 5px 0px rgba(0, 0, 0, 0.14), inset 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        filter: brightness(90%);
}