.time-field{
	display: flex;
	align-items: center;
	position: relative;
	background-color: var(--Surface-container-highest-color);
	color: var(--On-surface-variant-color);
	.icon-container{
		margin-left: 12px;
	}
	.clear-container{
		margin-right: 12px;
		cursor: pointer;
	}
	.input-container{
		height: 56px;
		flex: 100%;
		margin: 0 16px;
		padding-top: 8px;
		padding-bottom: 8px;
		label{
			position: absolute;
			line-height: calc(56px - 16px);
			transition: .3s;
			z-index: 3;
		}
		input{
            &::-webkit-calendar-picker-indicator{
                display: none;
            }
			position: absolute;
			background-color: transparent;
			outline: none;
			width: calc(100% - 52px);
			bottom: 8px;
			z-index: 4;
			line-height: 40px;
			font-size: 24px;
			&:focus ~ label,
			&:valid ~ label{
				top: 8px;
				font-size: 10px;
				color: var(--Primary-color);
				font-weight: bold;
				line-height: 13px;
			}
			&:focus ~ .text-field-line,
			&:valid ~ .text-field-line{
				background-color: var(--Primary-color);
			}
			&.error ~ .text-field-line{
				background-color: #ee0000;
			}
		}
		.text-field-line{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: var(--On-surface-variant-color);
		}
	}
}
.select-time-dialog{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 100;
    left: 0;
    .backplate{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--Outline-color);
        opacity: 10%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
}
