.newMovie{
  display: flex;
  padding-left: 60px;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.newMovie .imageInput{
  width: 100%;
}
.selected-div{
  width: 90%;
  display: flex;
  align-items: center;
}
.actor-ganre-add-btn{
  background: #0000;
  border: none;
  width: auto;
  color: #0f0
}
.actor-ganre-add-btn:active{
  box-shadow: none;
  text-shadow: 0 0 2px #000;
}
