@import "../../../shared/ui/Select/Select.scss";

.icons-dialog{
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: center;
}

.icons-dialog-item{
	width: calc(24px + 20px);
	height: calc(24px + 20px);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 50%;
	margin: 5px;
	transition: .2s;
	&:hover{
		box-shadow: 1px 1px 6px -2px var(--Shadow-color);
	}
	&:active{
		box-shadow: inset 1px 1px 6px -2px var(--Shadow-color);
	}
	&.active{
		box-shadow: inset 1px 1px 6px -2px var(--Shadow-color);
	}
}

.icon-input-container{
	display: flex;
	align-items: center;
}