.range{
	position: relative;
	.field{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		.value{
			position: absolute;
			font-size: 18px;
			font-weight: 600;
			color: var(--Primary-color);
			&.left{
				left: -22px;
			}
			&.right{
				right: -43px;
			}
		}
		input{
			-webkit-appearance: none;
			height: 4px;
			width: 100%;
			background-color: #ddd;
			border-radius: 5px;
			&::-webkit-slider-thumb{
				-webkit-appearance: none;
				height: 20px;
				width: 20px;
				background-color: var(--Primary-color);
				border: 1px solid var(--Primary-color);
				border-radius: 50%;
				cursor: pointer;
			}
		}
		.slider-value{
			position: absolute;
			width: calc(100% - 20px);
			height: 4px;
			border-radius: 4px;
			left: 0;
			background-color: var(--Primary-color);
			.slider-tooltip{
				position: absolute;
				width: 40px;
				height: 40px;
				color: var(--On-primary-color);
				font-weight: 500px;
				top: -65px;
				left: calc(100% + 10px);
				transform: translateX(-50%);
				line-height: 55px;
				span.slider-tooltip-value{
					position: absolute;
					display: flex;
					width: 40px;
					height: 40px;
					justify-content: center;
					align-items: center;
					z-index: 8;
				}
				span.slider-tooltip-container{
					position: absolute;
					width: 40px;
					height: 40px;
					background-color: var(--Primary-color);
					left: 50px;
					transform: translateX(-50px) rotate(45deg);
					// border: 3px solid #fff;
					z-index: 6;
					border-top-left-radius: 50%;
					border-top-right-radius: 50%;
					border-bottom-left-radius: 50%;
				}
			}
		}
	}
	
}