.navigation-bar-container{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1100;
	width: 100%;
	overflow: hidden;
	background-color: var(--Surface-container-low-color);
	color: var(--On-surface-variant-color);
	height: 80px;
	transition: .3s;
	box-shadow: var(--Shadow-base);
    .block-content{
        display: flex;
        justify-content: space-around;
		.block-menu{
			display: flex;
			max-width: 100px;
			.btn-block-menu{
				margin-top: 5px;
				height: 56px;
			}
		}
    }
	.navigation-item{
		height: 56px;
		margin: 5px 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 24px 0 16px;
		border-radius: 25px;
		transition: .3s;
		.navigation-item-icon{
			width: 44px;
			height: 32px;
			border-radius: 16px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&:hover .navigation-item-icon{
			background-color: var(--Surface-container-highest-color);
			color: var(--On-surface-color);
		}
		&.active .navigation-item-icon{
			background-color: var(--Secondary-container-color);
			color: var(--On-secondary-container-color);
		}
	}
}

@media (max-width: 720px) {
    .navigation-bar-container{
		.navigation-item{
			padding: 0
		}
	}
}