.contextSubMenu
{
  position: absolute;
  transform: translate(-100%, -40px);
  z-index: 99;
  border-radius: 4px;
  box-shadow: 0 0 5px #000;
  background: var(--color-normal);
}
.contextmenu.bottom .contextSubMenu{
  transform: translate(-100%, -100%);
}
