
$z-index: (
  alert              : 999,
  modal              : 200,
  navigation-top     : 120,
  navigation         : 100,
  footer             : 90,
  triangle           : 60,
  navigation-rainbow : 50,
  share-type         : 41,
  share              : 40,
);

body{
	--color-base: #333;
	--color-base-v2: #555;
	--color-base-glass: #5557;
	--color-normal: #777;
	--color-normal-v2: #999;
	--color-normal-glass: #9997;
	--color-active: #1E90FF;
	--text-base: #fff;
	--text-normal: #fff;
	--text-active: #fff;

	--card-border-radius: 4px;

	background-size: cover;
	background-attachment: fixed;
}