.switch span{
  background: var(--color-darken);
  box-shadow: inset 0 2px 15px rgba(0,0,0,0.2),
  inset 0 2px 2px rgba(0,0,0,0.2),
  inset 0 -1px 1px rgba(0,0,0,0.2);
}
.switch .indicator{
  background: linear-gradient(to bottom, var(--btn-color-darken), var(--color-darken));;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.5),
  inset 0 1px 1px rgba(255,255,255,0.1);
}
.switch input:checked ~ span{
  background: var(--active-v1-color);
  filter: brightness(100%);

}
