.conteiner.home{
  transition: 0.5s;
  transform: translateY(0);
  position: relative;
}
.conteiner.home.editMode{
  transform: translateY(100px);
}
.conteiner.home.editMode .conteinerHome{
  height: 140vh;
}
.conteinerHome{
  position: relative;
  padding: 5px;
  width: 100%;
  height: 100%;
}
.flexHome{
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.home-column{
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  flex-wrap: wrap;
  padding: 0;
}
.flexElement{
  padding: 4px 2px;
}
.HomeGrid{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-gap: 5px;
  /* grid-auto-rows: 1fr; */
  grid-auto-columns:none;
  padding-bottom: 100px;
}
@media (max-width: 1000px){
  .HomeGrid{
    grid-template-columns: repeat(3 , 1fr);
  }
}
@media (max-width: 800px){
  .HomeGrid{
    grid-template-columns: repeat(2 , 1fr);
  }
}
@media (max-width: 700px){
  .conteinerHome{
    margin-top: 60px;
  }
}
@media (max-width: 500px){
  .HomeGrid{
    display: block;
  }
  .HomeGrid > div{
    margin: 5px;
  }
}
