.conteiner.home{
  transition: 0.5s;
  transform: translateY(0);
  position: relative;
}
.conteiner.home.editMode .conteinerHome{
  height: 140vh;
}
.conteinerHome{
  position: relative;
  padding: 5px;
  height: calc(100vh - 56px - 10px);
  /* width: 100%;
  height: 100%; */
}
.flexHome{
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
  /* align-items: center; */
}
.home-column{
  position: relative;
  display: flex;
  flex-direction: column;
  /* flex: 0 1 100%; */
  flex-wrap: wrap;
  padding: 0;
}
.flexElement{
  width: 410px;
  padding: 4px 2px;
}
.gridHome{
  display: grid;
  grid-template-columns: repeat(6 , 100px);
  grid-gap: 5px;
  grid-auto-rows: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1000px){
  .HomeGrid{
    grid-template-columns: repeat(3 , 1fr);
  }
}
@media (max-width: 800px){
  .HomeGrid{
    grid-template-columns: repeat(2 , 1fr);
  }
}
@media (max-width: 700px){
  .conteinerHome{
    margin-top: 60px;
  }
}
@media (max-width: 500px){
  .HomeGrid{
    display: block;
  }
  .HomeGrid > div{
    margin: 5px;
  }
}
@media (max-width: 440px){
  .flexHome{
    display: block;
  }
  .flexElement{
    width: 100%;
    padding: 4px 0;
  }
}
