.RunText{
  min-height: 20px;
  min-width: 100%;
  transition: 0.5s;
  display: flex;
  justify-content: center;
}
.RunText p{
  white-space: nowrap;
  text-align: center;
}
.RunText p.scroll{
  text-align: left;
  animation: runtext 8s linear infinite;
}
@keyframes runtext {
  from { text-indent: 0 }
    to { text-indent: -50%; }
}
