.conteiner{
  display: block;
  position: relative;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* grid-column-start:  */
  /* transform: translateX(-50%); */
  /* width: calc(100% - 60px); */
  padding: 56px 0 0 56px;
  /* height: 200vh; */
  /* overflow-y: scroll; */
}
.fullScrinContainer{
  padding: 56px 0 0 56px;
}
.conteiner.fon{
  background: var(--body-v1-color);
  min-height: 100vh;
}
*.top{
  padding-top: 56px;
}
.conteiner.top{
  padding-top: 56px;
}
.conteiner.tabs{
  padding-top: 56px;
}

/* .conteiner.home
{
  min-height: calc(100vh - 30px);
  padding: 0 0 0 60px;
} */
.conteiner.files{
  min-height: 100vh;
  padding: 0 0 0 60px;
}
.whiteBacground{

}
.whiteBacground.opacity{
  background: #fffd;
}
.no-pg-top{
  padding-top: 0;
}
.slide-conteiner{
  /* overflow-y: scroll; */
}
/* body::-webkit-scrollbar{
  width: 0;
} */
@media (max-width: 700px){
  .fullScrinContainer{
    padding: 0 0 56px 0;
    height: calc(100vh - 56px);
  }
  .fullScrinContainer.top{
    padding: 56px 0 56px 0;
    height: calc(100vh - 56px - 56px);
  }
  .conteiner{
    padding-left: 0;
    width: 100%;
  }
  .conteiner.top{
    padding-top: 0;
  }
  .conteiner.bottom{
    padding-bottom: 56px;
  }
  .conteiner.home{
    padding-top:0;
  }
}
