/* @import "./base.css"; */
@import "./style-page.css";

@import "./variable/base.css";

@import "./Menu/leftMenu.base.css";
/* @import "./header/header.base.css"; */
@import "./deviceCart/deviceCart.base.css";
@import "./infoCard/infoCard.css";
@import "./hidingLi/hidingLi.base.css";
@import "./form/form.base.css";
@import "./homeCart/homeCart.base.css";
@import "./modalWindow/modalWindow.base.css";
@import "./user/user.base.css";
@import "./inputNumber/inputNumber.base.css";
@import "./pages/pages.base.css";
@import "./scriptsPage/scriptsPage.base.css";
@import "./newScriptsPage/newScriptsPage.base.css";
@import "./usersPage/usersPage.base.css";
@import "./addDevice/addDevice.base.css";
@import "./deviceCart/newDeviceCart.base.css";
@import "./custom1-checkbox/checkbox.base.css";
@import "./addControls/addControls.base.css";
@import "./menuOption/menuOption.base.css";
@import "./switch/switch.base.css";
@import "./sidebar/sidebar.base.css";
@import "./gallery/gallery.base.css";
@import "./tableMqtt/tableMqtt.base.css";
@import "./chart/chart.base.css";
@import "./styleEdit/styleEdit.base.css";
@import "./select/select.css";


@import "./runText.css";

@import "./style-title.css";
@import "./style-devices.css";
@import "./style-ImageInput.css";
@import "./styleLoader.css";
@import "./style-reg.css";
@import "./style-indicator.css";

@import "./terminal.css";
@import "./home.css";
@import "./EditCartWindow.css";
@import "./deviceDitail.css";
/* @import "./light/light.css";
@import "./night/night.css"; */

.backForm{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  top: 0;
  left: 0;
}
.backGlass{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.btn{
  cursor: pointer;
}
.btn2{
  width: calc(100% - 20px);
  margin-left: 50%;
  transform: translate(calc(-50% - 2px), -2px);
  box-shadow: 2px 2px 5px #000;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  border: none;
  display: inline-block;
 font-weight: 400;
 line-height: 1.5;
 text-align: center;
 text-decoration: none;
 vertical-align: middle;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 user-select: none;
 padding: 0.375rem 0.75rem;
 font-size: 1rem;
 border-radius: 0.25rem;
 color: var(--text-color-normal-fon);
 background: var(--color-normal);
 border-color: var(--color-base);
 transition: 0.25s;
}
.btn2:hover{
  color: var(--text-color-active-fon);
  background-color: var(--color-active);
  box-shadow: none;
  transform: translate(-50%, 0);
}
