.light .switch span{
  background: var(--content-color);
  filter: brightness(var(--btn));
}
.light .switch .indicator{
  /* background: linear-gradient(to bottom, var(--head-v1-color), var(--head-v2-color)); */
  background: var(--gradient);
  /* filter: brightness(var(--btn) + var(--btn)); */
}
