.light .switch span{
  background: var(--body-v3-color);
}
.light .switch .indicator{
  background: linear-gradient(to bottom, var(--head-v1-color), var(--head-v2-color));
}
.light .switch input:checked ~ span{
  background: var(--active-v1-color)
}
