@import "./contextMenu.css";

.topMenu{
	width: 100%;
	height: 60px;
	background: var(--color-base);
	color: var(--text-color-base-fon);
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 0 10px #000;
	z-index: 99;
	display: flex;
	align-items: center;
	/* justify-content: center; */
  }
  .topMenu > *{
	z-index: 99;
  }
  .topMenu .burger{
	width: var(--width-menu);
	font-size: 24px;
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	cursor: pointer;
  }
  .topMenu h2{
	font-size: 24px;
	position: absolute;
	left: 88px;
  }

  .topMenu .tabsConteiner{
	height: 100%;
	margin-right: var(--width-menu);
	width: calc(100% - 60px - 250px);
	margin-left: 250px;
	position: relative;
	display: flex;
  }
  .topMenu .tabsConteiner .tabs{
	flex: 100%;
	display: flex;
	height: 100%;
	width: calc(100% - var(--width-menu));
	overflow-x: scroll;
	position: relative;
  }
  .topMenu .tabsConteiner .tabs.scroll{
	box-shadow: inset 0 0 5px #000;
  }
  .topMenu .tabs::-webkit-scrollbar{
	width: 0;
	height: 0;
  }

  .topMenu .tabs .tabButton{
	min-width: 90px;
	font-size: 24px;
	line-height: var(--height-menu);
	display: flex;
	justify-content: center;
	border-bottom: none;
	padding: 0 5px;
	cursor: pointer;
	color: var(--text-color-base-fon);
  }
  .topMenu .tabsConteiner .tabsArrow{
	width: var(--width-menu);
	font-size: 24px;
	line-height: var(--height-menu);
	text-align: center;
	cursor: pointer;
  }

  .topMenu .tabs .tabButton:hover{
	border-bottom: 2px solid var(--text-color-base-fon);
  }
  
  .topMenu .tabs .tabButton.active{
	color: var(--color-active);
	border-bottom: 2px solid var(--color-active);
  }

  .navigationRail{
	position: fixed;
	width: var(--width-menu);
	height: calc(100vh - var(--height-menu));
	background: var(--color-base);
	box-shadow: 0 0 10px #000;
	top: var(--height-menu);
	left: 0;
	z-index: 97;
	padding-top: 8px;
	overflow: hidden;
	transition: .5s;
  }
  .navigationRail.active{
	width: 256px;
	overflow-y: scroll;
  }
  .navigationRail ul li{
	line-height: var(--height-menu);
	font-size: 24px;
	height: var(--height-menu);
	position: relative;
	cursor: pointer;
	width: 255px;
  }
  .navigationRail ul li:hover{
	background: var(--color-active);
  }
  .navigationRail ul li a,
  .navigationRail ul li .menu-btn{
	height: 100%;
	width: 100%;
	position: absolute;
	align-items: center;
	text-decoration: none;
	color: var(--text-color-base-fon);
  }
  .navigationRail ul li a.active{
	background-color: var(--color-active);
  }
  .navigationRail ul li a i,
  .navigationRail ul li .menu-btn i{
	width: var(--width-menu);
	text-align: center;
	line-height: var(--height-menu);
  }
  .navigationRail ul li{
	line-height: var(--height-menu);
	font-size: 24px;
	height: var(--height-menu);
	position: relative;
	cursor: pointer;
	width: 255px;
  }
  .navigationRail ul li:hover{
	background: var(--color-active);
  }
  .menu-btn{
	border: none;
	outline: none;
	display: block;
	font-size: 24px;
	cursor: pointer;
	background: var(--color-base);
  }
  .menu-btn:hover{
	background: var(--color-active);
  }
  .menu-btn i{
	position: absolute;
	left: 0;
	top: 0;
  }
  .menu-btn{
	  text-align: start;
	  padding-left: var(--width-menu);
  }
.controlConteiner{
	display: flex;
}
.controlConteiner .search,
.controlConteiner .menuTogleBtn
{
  position: relative;
  line-height: 56px;
  padding: 0;
  width: 56px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* .controlConteiner .contextmenu{
  top: 56px;
  font-size: 18px;
  line-height: 24px;
}
.controlConteiner.bottom .contextmenu{
  bottom: 56px;
  font-size: 18px;
  line-height: 24px;
} */

  @media (max-width: 700px){
	.topMenu .tabsConteiner{
		margin-left: var(--width-menu);
		padding-left: 0;
		width: 100%;
		margin-right: 0;
	}
	.topMenu .tabs .tabButton{
		width: 100%;
	}
	.topMenu .tabs{
		justify-content: space-around;
		margin-left: 0;
	}
	.navigationRail{
		width: 0;
	}
	.navigationRail ul li{
		width: 100%;
		overflow: hidden;
	}
	.navigationRail.active{
		width: 100%;
	}
	.topMenu h2.min-hide{
	  display: none;
	}
  }