@import "./contextMenu.css";

.submenu{
  height: 0;
  transition: 1s;
  overflow: hidden;
  color: var(--text-color-normal-fon);
}
.submenu.show{
  height: auto;
}
.submenuElement{
  background: var(--color-normal);
  filter: brightness(120%);
  width: calc(100% - 60px);
  position: relative;
}
.submenuElement.active{
  color: var(--color-active)
}
.submenuElement p{
  padding-left: 60px;
  z-index: 97;
}
.submenuElement span{
  z-index: 98;
  position: absolute;
  width: 56px;
  right: 0;
  top: 0;
  line-height: 56px;
  text-align: center;
}
.subMenuArrow{
  position: absolute;
  top: 0;
  color: var(--text-color-normal-fon);
  right: 0;
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.topMenu{
  width: 100%;
  height: 56px;
  background: var(--color-base);
  color: var(--text-color-base-fon);
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px #000;
  z-index: 99;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.bottomMenu{
  width: 100%;
  height: 56px;
  background: var(--color-base);
  color: var(--text-color-base-fon);
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 10px #000;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topMenu > *{
  z-index: 99;
}
.topMenu .burger{
  width: 56px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  cursor: pointer;
}
.topMenu .search{
  width: 56px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.topMenu h2{
  font-size: 24px;
  position: absolute;
  left: 88px;
}
.navigationRail{
  position: fixed;
  width: 56px;
  height: calc(100vh - 56px);
  background: var(--color-normal);
  box-shadow: 0 0 10px #000;
  top: 56px;
  left: 0;
  z-index: 97;
  padding-top: 8px;
  overflow: hidden;
  transition: .5s;
}
.navigationRail.active{
  width: 256px;
  overflow-y: scroll;
}
.navigationRail::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(1px);
  z-index: -1;
}
.topMenu .tabsConteiner{
  height: 100%;
  margin-right: 56px;
  width: calc(100% - 60px - 250px);
  margin-left: 250px;
  position: relative;
  display: flex;
}
.topMenu .tabsConteiner .tabs{
  flex: 100%;
  display: flex;
  height: 100%;
  width: calc(100% - 56px);
  overflow-x: scroll;
  position: relative;
}
.topMenu .tabsConteiner .tabs.scroll{
  box-shadow: inset 0 0 5px #000;
}
.topMenu .tabs::-webkit-scrollbar{
  width: 0;
  height: 0;
}
@media (max-width: 700px){
  .topMenu .tabsConteiner{
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    margin-right: 0;
  }
  .topMenu .tabs{
    padding-left: 56px;
  }
}
.topMenu .tabs .tabButton{
  min-width: 90px;
  font-size: 24px;
  line-height: 56px;
  display: flex;
  justify-content: center;
  border-bottom: none;
  padding: 0 5px;
  cursor: pointer;
  color: var(--text-color-base-fon);
}
.topMenu .tabsConteiner .tabsArrow{
  width: 56px;
  font-size: 24px;
  line-height: 56px;
  text-align: center;
  cursor: pointer;
}
.topMenu .tabs .tabButton.active{
  color: var(--color-active);
  border-bottom: 2px solid var(--color-active);
}

.specialActionButton{
  background: var(--color-active);
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 97;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  color: var(--text-color-active-fon);
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-weight: 300;
  cursor: pointer;
  align-items: center;
  font-size: 24px;
  box-shadow: 0 0 10px -2px #000;
  transition: .5s;
}
.specialActionButton:hover{
  box-shadow: none
}
/* .specialActionButton.big{
  justify-content: flex-start;
  width: 90%;
} */
.specialActionButton i{
  min-width: 40px;
  text-align: center;
  line-height: 40px;
}
.navigationRail ul li,
.bottomMenuAll ul li{
  line-height: 56px;
  font-size: 24px;
  position: relative;
  cursor: pointer;
  width: 255px;
}
.navigationRail ul li:hover,
.bottomMenuAll ul li:hover{
  background: var(--btn-color-normal);
}
.navigationRail ul li a,
.bottomMenuAll ul li a{
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  color: var(--text-color-normal-fon);
}
.navigationRail ul li a.active,
.bottomMenuAll ul li a.active{
  color: var(--color-active);
}
.navigationRail ul li a i,
.bottomMenuAll ul li a i{
  width: 56px;
  text-align: center;
  line-height: 56px;
}
.navigationRail ul li a span,
.bottomMenuAll ul li a span{
  margin-left: 5px;
}
.dividers{
  width: 100%;
  height: 1px;
  background: var(--text-color-normal-fon);
}
.navigationRail .profifileConteiner{
  height: 56px;
  color: var(--text-color-normal-fon);
  display: flex;
  width: 100%;
}
.navigationRail .profifileConteiner .out{
  width: 56px;
  line-height: 56px;
  font-size: 24px;
  text-align: center;
}
.navigationRail .profifileConteiner .profile{
  height: 56px;
  display: inline-block;
}
.navigationRail .bottomField{
  position: relative;
  bottom: 0;
}
.toolbarConteainer{
  position: fixed;
  height: 56px;
  width: 100%;
  background: var(--color-base);
  left: 0;
  top: 0;
  transition: .5s;
  z-index: 100;
  display: none;
}
.toolbarConteainer.show{
  /* top: 56px; */
  display: block;
}
.toolbarConteainer .search{
  display: flex;
}
.toolbarButton{
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #0000;
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color-base-fon);
}
.toolbarConteainer .backBtn{
  height: 56px;
  width: 56px;
  border: none;
  background: #0000;
  font-size: 20px;
  cursor: pointer;
  color: var(--text-color-base-fon);
}
.toolbarConteainer input{
  height: 56px;
  width: calc(100% - 56px);
  border: none;
  background: #0000;
  font-size: 25px;
  cursor: pointer;
  color: var(--text-color-base-fon);
  outline: none;
}
.toolbarConteainer input::-ms-clear,
.toolbarConteainer input::-webkit-search-cancel-button
{
  display: none;
}
.toolbar{
  display: flex;
}
.toolbarButtons{
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 56px);
}
.controlConteiner{
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  height: 56px;
  width: 56px;
}
.controlConteiner .search,
.controlConteiner .menuTogleBtn
{
  position: relative;
  line-height: 56px;
  padding: 0;
  width: 56px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.controlConteiner .contextmenu{
  top: 56px;
  font-size: 18px;
  line-height: 24px;
}
.controlConteiner.bottom .contextmenu{
  bottom: 56px;
  font-size: 18px;
  line-height: 24px;
}
.bottomMenuAll::-webkit-scrollbar{
  width: 0;
}
.bottomMenuAll{
  position: fixed;
  width: 100%;
  z-index: 100;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  transform: translateY(100%);
  transition: 0.5s
}
.bottomMenuAll.show{
  overflow-y: scroll;
  transform: none;
}
.bottomMenuAll .baseMenu{
  box-shadow: 0 0 10px #000;
}
.bottomMenuAll ul{
  background: var(--color-normal);
}
.bottomMenuAll ul li{
  line-height: 48px;
}
.bottomMenu .controlConteiner .contextmenu{
  top: 30px;
}
.bottomMenu .burger{
  width: 56px;
  line-height: 56px;
  text-align: center;
  font-size: 24px;
}
.bottomMenu .controlConteiner{
  position: relative;
}
.bottomMenu .item{
  width: 56px;
  line-height: 56px;
  text-align: center;
  font-size: 24px;
  color: var(--text-color-base-fon);
}
.bottomMenu .item *{
  color: var(--text-color-base-fon);
}

@media (max-width: 700px), ((max-height: 700px) and (orientation: landscape)){
  .specialActionButton{
    bottom: 66px;
  }
}
@media ((orientation: landscape)){
  .specialActionButton{
    bottom: 66px;
  }
}
