@import "./button.color.css";

ul.elementConteiner.line li{
  margin: 1px 0;
}
ul.elementConteiner li{
  position: relative;
  list-style: none;
  text-align: center;
  margin: 6px 4px;
}
ul.elementConteiner li label{
  position: relative;
}
ul.elementConteiner li label input[type="checkbox"],
ul.elementConteiner li label input[type="button"]{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
ul.elementConteiner li label .icon-box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  transition: 0.5s;
}
.BtnElement .icon-conteiner{
  justify-content: center;
}
ul.elementConteiner li .icon-conteiner{
  width: 100%;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0;
  transition: 0.5s;
  justify-content: center;
}
ul.elementConteiner li label .icon-conteiner p{
  margin-top: 5px;
}
ul.elementConteiner li label .icon-box i{
  font-size: 30px;
  /* color: #222; */
}
.delete-box .deleteBtn{
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: red;
  border: none;
  text-align: center;
  font-size: 50px;
  color: #fff;
}
.delete-box .editBtn{
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: grey;
  border: none;
  text-align: center;
  font-size: 25px;
  color: #fff;
}
.delete-box .icon-box button i.i-cost{
  font-size: 10px;
  color: #fff;
  text-align: center;
  box-shadow: none;
  position: relative;
  top: -2px;
}
.deleteBtn:hover,
.editBtn:hover{
  box-shadow: inset 0 0 5px #000;
}
.ElementLine{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
  min-height: 50px;
  color: var(--text-color-darken-fon);
}
.ElementLine p{
  font-size: 20px;
  color: var(--text-color-darken-fon);
}
.ElementLine .control{
  position: relative;
  height: 42px;
}
.ElementLine .control .right-control{
  position: absolute;
  right: 0;
}
.ElementLine .icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ElementLine .icon .circle{
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.ElementLine .icon.icon-btn .circle{
  background: var(--color-base);
}
.ElementLine .icon .circle i{
  position: absolute;
  left: 50%;
  transform: translateX(calc(-50% + 1px));
}
.ElementLine:hover .icon.icon-btn .circle{
  cursor: pointer;
}
.ElementLine:hover .icon.icon-btn .circle{
  box-shadow: inset 0 0 5px #000;
}
