/* @import "./leftMenu.light.css";
@import "./leftMenu.night.css"; */
@import "./leftMenu.color.css";
.sidebar_menu{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  width: 60px;
  background: var(--head-color);
  transition: 1s;
  overflow: hidden;
  box-shadow: 0 0 10px #000;
}
.sidebar_menu.active{
  width: 240px;
}
.sidebar_menu.active.submenuActive{
  width: 540px;
}
.baseMenu{
  max-width: 240px;
  position: relative;
  padding: 0 0;
  height: 100%;
}
.sidebar_menu .logo-content{
  /* margin-left: 16px; */
  min-height: 60px;
}
.sidebar_menu .logo-content .logo{
  color: #fff;
  height: 60px;
  width: 100%;
  align-items: center;
  display: none;
}
.sidebar_menu.active .logo{
  display: flex;
}
.logo-content .logo i{
  font-size: 28px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
}
.logo-content .logo .logo-name{
  font-size: 20px;
  font-weight: 400;
  line-height: 60px;
}
.sidebar_menu #nav-btn{
  position: absolute;
  color: #fff;
  right: 0;
  top: 0;
  font-size: 20px;
  height: 60px;
  width: 57px;
  text-align: center;
  background: var(--head-color);
  line-height: 60px;
  border-left: 3px solid var(--head-color);
}
.sidebar_menu #nav-btn:hover{
  border-left: 3px solid var(--active-v1-color);
  background: var(--active-v1-color);
  /* background: var(--hover-color); */
}
/* .sidebar.active #nav-btn,
.sidebar.active #nav-btn:hover{
  border-left: none
} */
.sidebar_menu ul{
  /* margin-top: 20px; */
  height: calc(100% - 120px);
  overflow-y: scroll;
}
.sidebar_menu ul li{
  position: relative;
  height: 60px;
  width: 100%;
  list-style: none;
  line-height: 50px;
  background: var(--head-color);
  margin: 0;
}
.sidebar_menu ul li button{
  background: none;
}
.sidebar_menu ul li a,
.sidebar_menu ul li button{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
  font-size: 20px;
  border: none;
  border-left: 3px solid var(--head-color);
  /* border-top: 1px solid var(--head-color); */
  /* border-bottom: 1px solid var(--head-color); */
}
.sidebar_menu ul li a.active,
.sidebar_menu ul li button.active{
  border-left: 3px solid var(--active-v1-color);
}
.sidebar_menu ul li:hover,
.sidebar_menu ul li:hover{
  background: var(--active-v1-color);
}
.sidebar_menu ul li i{
  height: 60px;
  min-width: 57px;
  border-radius: 12px;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
}
.sidebar_menu ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  outline: none;
  border: none;
  background: var(--hover-color);
  padding-left: 50px;
  /* margin: 0 10px; */
  border-top: 1px solid var(--darken-color);
  border-bottom: 1px solid var(--darken-color);
  color: #fff;
  font-size: 18px;
}
.sidebar_menu .title{

}
.sidebar_menu ul li input:focus{
  border-left: 3px solid #fff;

}
.sidebar_menu ul li .fa-search{
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
}
.sidebar_menu .profile-content{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: calc(100% - 3px);
  padding: 0;
  color: #fff;
  border-left: 3px solid var(--head-color);
}
.sidebar_menu .profile-content:hover{
  background: var(--content-color);
}
.sidebar_menu .profile-content.active{
  border-left: 3px solid var(--active-v1-color);
}
.sidebar_menu.active .profile-content{
  width: calc(100% - 3px);
}
.sidebar_menu .profile-content .profile{
  display: flex;
  width: 100%;
}
.sidebar_menu .profile-details{
  display: none;
}
.sidebar_menu.active .profile-details{
  display: flex;
}
.sidebar_menu .profile-details img{
  border-radius: 50%;
  height: 58px;
  width: 58px;
  object-fit: cover;
}
.sidebar_menu .profile-content .profile .fa-sign-out-alt{
  position: absolute;
  color: #fff;
  right: 0;
  top: 0;
  font-size: 20px;
  height: 60px;
  width: 57px;
  text-align: center;
  background: var(--head-color);
  line-height: 60px;
}
.sidebar_menu .profile-content .profile .fa-sign-out-alt:hover{
  background: var(--active-v1-color);
}
.sidebar_menu .name-job{
  padding: 5px;
}
.sidebar_menu .name-job .job{
  font-size: 15px;
}
.sidebar_menu .name-job .name{
  font-size: 20px;
}
.submenu{
  position: absolute;
  left: 240px;
  top: 0;
  width: 300px;
  height: 100%;
  color: #fff;
  background: var(--darken-color)
}
.submenu .topMenu ul{
  height: 60px;
  position: relative;
  top: 0;
  width: 100%;
  display:flex;
}
.submenu .topMenu ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--base-color);
  margin: 1px;
}
.submenu .subMenuContent ul{
  position: relative;
  top: 0;
}
.fullScrin{
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 9;
}

.bottom-navigation{
  --width-el:70px;
  position: fixed;
  margin-left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  width: calc(var(--width-el) * 5);
  height: var(--width-el);
  z-index: 10;
  background: #fff;
  border-radius: 35px;
  box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}
.bottom-navigation ul{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
}
.bottom-navigation ul li{
  position: relative;
  list-style: none;
  width: var(--width-el);
  height: var(--width-el);
  z-index: 10;
}
/* .bottom-navigation ul li::before{
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  /* border-radius: 50%;
  z-index: 11;
} */
.bottom-navigation ul li a,
.bottom-navigation ul li button{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: #333;
  background: none;
  border: none;
}
.bottom-navigation ul li a .icon,
.bottom-navigation ul li button .icon{
  position: relative;
  display: block;
  line-height: calc(var(--width-el) + 5px);
  text-align: center;
  transition: 0.5s;
  font-size: 24px;
  color: #333;
}
.bottom-navigation ul li a .title,
.bottom-navigation ul li button .title{
  position: absolute;
  padding: 5px 10px;
  top: -70px;
  left: 50%;
  transform: translate(-50%, 15%);
  background: #fff;
  width: auto;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.5s;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
}
.bottom-navigation ul li:hover a .title,
.bottom-navigation ul li:hover button .title{
  opacity: 1;
  visibility: visible;
  transform: translate(-50%,50%);
}
.bottom-navigation ul li.active a .icon,
.bottom-navigation ul li.active button .icon,
.bottom-navigation ul li.hover a .icon,
.bottom-navigation ul li.hover button .icon{
  color: #fff;
}
.bottom-navigation ul li a .title::before,
.bottom-navigation ul li button .title::before{
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background: #fff;
  bottom: -8px;
  left: 48%;
  transform: rotate(45deg) translateX(-50%);
  border-radius: 2px;
}
.bottom-navigation ul .indicator,
.bottom-navigation ul .indicator2{
  position: absolute;
  left: 0;
  display: none;
  width: var(--width-el);
  height: var(--width-el);
  transition: 0.5s;
}
.bottom-navigation ul .indicator::before,
.bottom-navigation ul .indicator2::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  width: calc(var(--width-el) - 20px) ;
  height: calc(var(--width-el) - 20px);
  border-radius: 50%;
  transition: 0.5s;
}
.bottom-navigation ul .indicator2::before{
  background: var(--active-v1-color)
}
.bottom-navigation ul li:nth-child(1).active ~ .indicator2{
  transform: translateX(calc(var(--width-el) * 0));
  display: block;
}
.bottom-navigation ul li:nth-child(2).active ~ .indicator2{
  transform: translateX(calc(var(--width-el) * 1));
  display: block;
}
.bottom-navigation ul li:nth-child(3).active ~ .indicator2{
  transform: translateX(calc(var(--width-el) * 2));
  display: block;
}
.bottom-navigation ul li:nth-child(4).active ~ .indicator2{
  transform: translateX(calc(var(--width-el) * 3));
  display: block;
}
.bottom-navigation ul li:nth-child(5).active ~ .indicator2{
  transform: translateX(calc(var(--width-el) * 4));
  display: block;
}

.bottom-navigation ul li:nth-child(1).active ~ .indicator{
  transform: translateX(calc(var(--width-el) * 0));
  display: block;
}
.bottom-navigation ul li:nth-child(2).active ~ .indicator{
  transform: translateX(calc(var(--width-el) * 1));
  display: block;
}
.bottom-navigation ul li:nth-child(3).active ~ .indicator{
  transform: translateX(calc(var(--width-el) * 2));
  display: block;
}
.bottom-navigation ul li:nth-child(4).active ~ .indicator{
  transform: translateX(calc(var(--width-el) * 3));
  display: block;
}
.bottom-navigation ul li:nth-child(5).active ~ .indicator{
  transform: translateX(calc(var(--width-el) * 4));
  display: block;
}

.bottom-navigation ul li:nth-child(1).hover ~ .indicator{
  transform: translateX(calc(var(--width-el) * 0));
  display: block;
}
.bottom-navigation ul li:nth-child(2).hover ~ .indicator{
  transform: translateX(calc(var(--width-el) * 1));
  display: block;
}
.bottom-navigation ul li:nth-child(3).hover ~ .indicator{
  transform: translateX(calc(var(--width-el) * 2));
  display: block;
}
.bottom-navigation ul li:nth-child(4).hover ~ .indicator{
  transform: translateX(calc(var(--width-el) * 3));
  display: block;
}
.bottom-navigation ul li:nth-child(5).hover ~ .indicator{
  transform: translateX(calc(var(--width-el) * 4));
  display: block;
}
.bottom-navigation ul li.menuActive button .icon i{
  color: #fff;
}
.bottom-navigation ul li.menuActive::before{
  position: absolute;
  content: '';
  width: calc(var(--width-el) - 20px) ;
  height: calc(var(--width-el) - 10px);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--head-color);
}

@media(max-width: 350px) {
  .bottom-navigation{
    width: 100%;
    bottom: 0;
    border-radius: 0;
    --width-el:64px;
  }
}

.menu-app{
  z-index: 9;
  position: fixed;
  overflow: hidden;
  width: 350px;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  transition: 1s;
  background: var(--head-color);
  bottom: 50px;
  /* border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px; */
}
.menu-app.active{
  height: 360px;
}
.menu-app ul{
  height: 310px;
  overflow-y: scroll;
  width: calc(100% - 4px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 5px;
  padding: 2px 2px 5px 2px;
}
.menu-app ul li{
  background: var(--head-color);
  filter: brightness(var(--btn));
  position: relative;
  width: 100%;
  height: 100%;
}
.menu-app ul li:hover{
  filter: brightness(calc(var(--btn) * 1.2));
}
.menu-app ul li a{
  position: absolute;
  width: 100%;
  height: 100%;

}
.menu-app ul li a .icon{
  position: absolute;
  width: 100%;
  height: 100%;
}
.menu-app ul li a .icon i{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
}
.menu-app ul li a .title{
  padding: 0;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
