@import "./newDeviceCart.color.css";
@import "./devMenu.css";

.NewCardElement{
  position: relative;
  width: 300px;
  /* min-height: 220px; */
  margin: 20px;
  /* overflow: hidden; */
  transition: 0.5s;
  border-radius: 4px;
  box-shadow: 0 0 10px #000;
}
@media (max-width:700px) {
  .CardConteiner{
    padding: 0 0 60px 0;
  }
  .CardConteiner .NewCardElement{
    margin: 20px 0 0 0;
  }
}
.NewCardElement .NewCardHeader{
  min-height: 80px;
  position: relative;
}
.NewCardElement .NewCardHeader button{
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
  border: none;
  position: absolute;
}
.NewCardElement .NewCardHeader button.active{
  box-shadow: inset 0 0 5px var(--ok-v1-color);
}
.NewCardElement .NewCardHeader button:hover{
  box-shadow: inset 0 0 10px #000;
}
.NewCardElement .NewCardHeader .DeviceName p{
  font-size: 3em;
  /* text-align: center; */
}
.NewCardElement .NewCardHeader .typeConnect{
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.DeviceControlLi{
  display: flex;
  height: 50px;
  justify-content:space-between;
  line-height: 50px;
}
.DeviceControlLi .DeviceControlLiContent{
  display: flex;
  padding: 5px;
  align-items: center;
}
.DeviceLiControl{
  position: relative;
}
.DeviceLiControl input[type="text"] {
    font-size: 18px;
    width: 50%;
    border: none;
    border-radius: 2px;
    outline: none;
    margin-right: 6%;
}
.DeviceLiControl input[type="button"] {
    font-size: 18px;
    width: 24%;
    border: none;
    border-radius: 2px;
    outline: none;
}
.DeviceName{
  cursor: pointer;
}
.DeviceLiControl select{
  font-size: 18px;
  border: none;
  border-radius: 2px;
  outline: none;
  min-width: 100px;
  text-align: center;
}
.DeviceControlLiName{
  display: flex;
  align-items: center;
  padding-left: 10px;
}
h4.offline{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 20px;
}
.NewCardElement .NewCardControl .cardControlBtn{
  border-radius: 0;
  width: 100%;
  height: 50px;
  border: none;
}
.allColor{
  position: relative;
  z-index: 2
}
/* input[type="range"]{
  z-index: 2;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb{

}
input[type=range]::-ms-track {

} */
.allColor input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, red 5%, #ff0 20%, lime 34%, cyan 50%, blue 67%, #f0f 86%, red 95%);
  border-radius: 10px;
  border: 1px solid #aaa;
}

.allColor::before{
  content: '';
  z-index: 0;
  display: none;
  position: absolute;
  width: calc(100% - 10px);
  height: 100%;
  top: 0;
  left: 5px;
  background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
}
