.bottom-sheets{
    max-width: 640px;
    margin-top: 72px;
    position: relative;
    background-color: var(--Surface-container-low-color);
    z-index: 1150;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    max-height: 80vh;
    left: 50%;
    transform: translate(-50%, 0);
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    animation: .2s linear showBottomSheets;
    box-shadow: 0 0 10 10 var(--Outline-color);
    &.hide{
        animation: .2s linear hideBottomSheets;
        transform: translate(-50%, 100%);
    }
    .bottom-sheets-handle{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            height: 4px;
            width: 32px;
            background-color: var(--On-surface-variant-color);
        }
    }
}
.bottom-sheets-backplate{
    background-color: var(--Scrim-color);
    opacity: 40%;
}

@keyframes showBottomSheets{
    0%{
        transform: translate(-50%, 100%);
    }
    100%{
        transform: translate(-50%, 0);
    }
}

@keyframes hideBottomSheets{
    0%{
        transform: translate(-50%, 0);
    }
    100%{
        transform: translate(-50%, 100%);
    }
}