#scripts-constructor-page{
    position: relative;
    background-color: var(--Surface-dim-color);
    height: 100vh;
    #scripts-constructor-canvas{
        position: absolute;
        top: 0;
        left: 0;
    }
    #scripts-constructor-container{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .script-add-block{
        display: flex;
        margin-bottom: 40px;
        justify-content: center;
        &>*{
            margin-left:8px;
            background-color: var(--Surface-container-low-color);
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding: 5px;
        }
    }
}
