.dialog-container{
    padding: 24px 0;
    background-color: var(--Surface-container-high-color);
    box-shadow: 1px 1px 6px -2px var(--Shadow-color);
    min-width: 280px;
    max-width: 560px;
    width: calc(100% - 40px);
    border-radius: 28px;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    
    .dialog-header{
        flex: 100%;
        padding-bottom: 16px;
        padding-left: 24px;
        padding-right: 24px;
        color: var(--On-surface-color);
        h2{
            display: inline;
        }
    }
    .dialog-action{
        flex: 100%;
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .dialog-content{
        flex: 100%;
        overflow-y: auto;
        color: var(--On-surface-variant-color);
        & > *{
            padding-left: 24px;
            padding-right: 24px;
        }
    }
    .dialog-button-container{
        display: flex;
        justify-content: end;
    }
    .dialog-input-container{
        margin: 8px 0 0 0;
    }
}

.full-screen-dialog-base-format{
    max-height: 85vh;
}

.full-screen-dialog-container{
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: var(--Surface-container-high-color);
    .full-screen-dialog-header{
        display: flex;
        height: 56px;
        .header{
            flex: 100%;
            line-height: 56px;
            color: var(--On-surface-color);
            font-size: 24px;
            font-weight: bold;
        }
        .dialog-icon-container{
            width: 56px;
            flex: 56px;
            line-height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .save-container{
            height: 56px;
            display: flex;
            color: var(--Primary-color);
            align-items: center;
        }
    }
    .full-screen-dialog-content{
        height: calc(100% - 56px);
        padding: 0 10px;
    }
}