.night .conteiner-body-ul .conteiner-body-li,
.night .conteiner-body-ul .conteiner-body-li label input[type="text"],
.night .conteiner-body-ul .conteiner-body-li label input[type="number"]{
  border: 2px solid #333;
}
.night .conteiner-body-ul .conteiner-body-li label h5,
.night .conteiner-head h2{
    color: #fff;
}
.night .conteiner-body-ul .conteiner-body-li label input[type="text"],
.night .conteiner-body-ul .conteiner-body-li label input[type="number"]{
  background: #ddd;
}
.night .conteiner-body{
  background: #555;
}
.night .conteiner-body-li label{
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
