.scriptElement{
  background: var(--content-color);
}
.scriptElement p{
  color: var(--text-color);
}
.scriptElement .scriptStatus button,
{
  background: var(--content-color);
  filter: brightness(var(--btn));
}
