.editStylePanel{
  width: 80%;
  height: 100px;
  background: var(--color-base);
  position: fixed;
  color: var(--text-color-base-fon);
  box-shadow: 0 0 10px #000;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 100;
  display: flex;
}
.editStylePanel > div{
  width: 100%
}
.boxFieldColor{
  display: flex;
}
.colorfield,
.opasityfield
{
  width: 100%;
  display: flex;
}
.opasityfield input{
  height: 26px;
  width: 26px;
  margin: 2px;
}
.colors{
  overflow-y: scroll;
  padding: 4px 0;
}
.boxFieldColor p{
  text-align: center;
  color: var(--text-color-darken-fon);
  font-size: 20px;
  width: 75%;
}
.boxFieldColor input[type="color"]{
  border: none;
  background: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 0;
}
.editStylePanel .nameField{

}
.editStylePanel .nameField input,
.editStylePanel .nameField button{
  margin-top: 10px;
  position: relative;
  font-size: 1.2em;
  display: block;
  padding: 5px 2px 5px 2px;
  width: calc(100% - 80px);
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  border-radius: 5px;
  border: none;
}
