.card-device{
    .ellipsis {
        white-space: nowrap;       /* Не переносить текст */
        overflow: hidden;          /* Скрыть выходящий за пределы контент */
        text-overflow: ellipsis;   /* Поставить многоточие */
    }
    position: relative;
    .header-text{
        color: var(--Primary-color);
        padding-inline-end: 70px;
    }
    .image-svg-device{
        z-index: 0;
        position: absolute;
        top: 0;
        right: 10px;
    }
    .control-container{
        padding-block-start: 20px;
        .control-row.state-switch{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .text-container{
                width: calc(100% - 50px);
                align-items: center;
                display: flex;
                justify-content: space-between;
            }
            .card-device-checkbox-container{
                display: block;
                & > label{
                    display: block;
                }
            }
        }
    }
}

.card-device{
    .control-container{
        .control-row.state-switch{
            // height: 32px;
            // align-items: start;
            .control-switch-state{
                margin-block-end: 10px;
            }
        }
    }
}