.card-lamb{
    position: relative;
    .lamp-image{
        z-index: 0;
        position: absolute;
        top: 0;
        right: 10px;
    }
    .control-container{
        padding-block-start: 20px;
        .control-row.state-switch{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .lamp-control-switch-state{
                margin-block-end: 10px;
            }
        }
    }
}