.historyContainer
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 4px;
  overflow: hidden;
}
.canvasContainer{
  grid-column-start: 1;
  grid-column-end: 3;
}
.menuContainer{
  margin-left: 2px;
}
.historySetingsContainer{
  height: 100px;
  background: var(--color-normal);
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fieldsList{
  background: var(--color-normal);
  height: calc(100% - 100px - 1px);
}
.fieldsList ul{
  box-sizing: border-box;
  position: relative;
  padding: 1px;
}
.SetingsBtn{
  display: flex;
  margin: 0 10px;
  border-radius: 15px;
  width: calc(100% - 10px);
}
.SetingsBtn > div:first-child{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.SetingsBtn > div:last-child{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.SetingsBtn > div{
  padding: 10px;
  background: var(--color-base);
  width: 50%;
  text-align: center;
}
.SetingsBtn > div:hover,
.SetingsBtn > div.active
{
  box-shadow: inset 0 0 5px #000;
}
.fieldsList ul li{
  padding: 10px 5px;
  text-align: center;
  background: var(--btn-color-normal);
  color: var(--text-color-normal-fon);
  margin: 4px 4px;
  border-radius: 4px;
}
.fieldsList ul li:hover,
.fieldsList ul li.active{
  background: var(--btn-color-normal);
  color: var(--text-color-normal-fon);
  box-shadow: inset 0 0 5px #000;
}
.historyList{
  background: var(--color-normal);
  height: 400px;
}
.historyList h3{
  text-align: center;
  line-height: 40px;
  position: relative;
  border-bottom: 2px solid var(--color-base);
  font-size: 34px;
}
.historyList ul li{
  display: flex;
  justify-content: space-between;
  padding: 5px 20px
}
.historyList ul{
  position: relative;
  box-sizing:border-box;
  overflow-y: scroll;
  height: 358px;
}
.historyList ul li:hover{
  background: var(--btn-color-normal);
}
@media (max-width: 900px){
  .historyContainer{
    grid-template-columns: repeat(1, 1fr);
  }
  .canvasContainer{
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .menuContainer{
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
