.historyContainer
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.canvasContainer{
  grid-column-start: 1;
  grid-column-end: 3;
}
.menuContainer{
  margin-left: 2px;
}
.historySetingsContainer{
  height: 100px;
  background: var(--color-normal);
  margin-bottom: 2px;
}
.fieldsList{
  background: var(--color-normal);
  height: calc(100% - 100px - 1px);
}
.fieldsList ul li{
  padding: 10px 5px;
  text-align: center;
  background: var(--btn-color-normal);
  color: var(--text-color-normal-fon);
  margin: 1px 0;
}
.fieldsList ul li:hover,
.fieldsList ul li.active{
  background: var(--btn-color-normal);
  color: var(--text-color-normal-fon);
  box-shadow: inset 0 0 5px #000;
}
.historyList{
  background: var(--color-normal);
  height: 400px;
}
.historyList h3{
  text-align: center;
  line-height: 40px;
  position: relative;
  border-bottom: 2px solid var(--color-base);
  font-size: 34px;
}
.historyList ul li{
  display: flex;
  justify-content: space-between;
  padding: 5px 20px
}
.historyList ul{
  position: relative;
  box-sizing:border-box;
  overflow-y: scroll;
  height: 358px;
}
.historyList ul li:hover{
  background: var(--btn-color-normal);
}
@media (max-width: 900px){
  .historyContainer{
    grid-template-columns: repeat(1, 1fr);
  }
  .canvasContainer{
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .menuContainer{
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
