
$z-index: (
  alert              : 999,
  modal              : 200,
  navigation-top     : 120,
  navigation         : 100,
  footer             : 90,
  triangle           : 60,
  navigation-rainbow : 50,
  share-type         : 41,
  share              : 40,
);

body{
	// --color-base: #333;
	// --color-base-v2: #555;
	// --color-base-glass: #5557;
	// --color-normal: #777;
	// --color-normal-v2: #999;
	// --color-normal-glass: #9997;
	// --color-active: #1E90FF;
	// --color-active-glass: #1E90FF33;
	// --text-base: #fff;
	// --text-normal: #fff;
	// --text-active: #fff;


	--Primary-color: #6750A4;
	--Primary-container-color: #EADDFF;
	--On-primary-color: #FFFFFF;
	--On-primary-container-color: #21005E;
	--Inverse-primary-color: #D0BCFF;
	--Secondary-color: #625B71;
	--Secondary-container-color: #E8DEF8;
	--On-secondary-color: #FFFFFF;
	--On-secondary-container-color: #1E192B;
	--Tertiary-color: #7D5260;
	--Tertiary-container-color: #FFD8E4;
	--On-tertiary-color: #FFFFFF;
	--On-tertiary-container-color: #370B1E;
	--Surface-color: #FEF7FF;
	--Surface-dim-color: #DED8E1;
	--Surface-bright-color: #FEF7FF;
	--Surface-container-lowest-color: #FFFFFF;
	--Surface-container-low-color: #F7F2FA;
	--Surface-container-color: #F3EDF7;
	--Surface-container-high-color: #ECE6F0;
	--Surface-container-highest-color: #E6E0E9;
	--Surface-variant-color: #E7E0EC;
	--On-surface-color: #1C1B1F;
	--On-surface-variant-color: #49454E;
	--Inverse-surface-color: #313033;
	--Inverse-on-surface-color: #F4EFF4;
	--Background-color: #FEF7FF;
	--On-background-color: #1C1B1F;
	--Error-color: #B3261E;
	--Error-container-color: #F9DEDC;
	--On-error-color: #FFFFFF;
	--On-error-container-color: #410E0B;
	--Outline-color: #79747E;
	--Outline-variant-color: #C4C7C5;
	--Shadow-color: #000000;
	--Surface-tint-color: #6750A4;
	--Scrim-color: #000000;


	--Shadow-base: 0 0 5px -3px var(--Shadow-color);

	// --color-disabled: #e6e1e555;
	// --color-disabled-text: #e6e1e533;
	// --color-disabled: #1C1B1F55;
	// --color-disabled-text: #1C1B1F33;

	--card-border-radius: 4px;

	background-size: cover;
	background-attachment: fixed;
}

// --------background text---------

.sh-bg-active{
	background-color: var(--text-active);
}

.sh-text-bg-ct-1,
.sh-text-bg-ct-1-1,
.sh-text-bg-ct-1-2
{
	background-color: var(--text-base);
}

.sh-text-bg-ct-2,
.sh-text-bg-ct-2-1,
.sh-text-bg-ct-2-2
{
	background-color: var(--text-normal);
}

// ---------background--------

.sh-bg-active{
	background-color: var(--color-active);
}

.sh-bg-ct-1,
.sh-bg-ct-1-1
{
	background-color: var(--color-base);
}

.sh-bg-ct-2,
.sh-bg-ct-2-1
{
	background-color: var(--color-normal);
}

.sh-bg-ct-1-2{
	background-color: var(--color-base-v2);
}

.sh-bg-ct-2-2{
	background-color: var(--color-normal-v2);
}

// ---------color--------

.sh-text-active{
	color: var(--color-active);
}

.sh-text-ct-1,
.sh-text-ct-1-1
{
	color: var(--color-base);
}

.sh-text-ct-2,
.sh-text-ct-2-1
{
	color: var(--color-normal);
}

.sh-text-ct-1-2{
	color: var(--color-base-v2);
}

.sh-text-ct-2-2{
	color: var(--color-normal-v2);
}