.text-field{
	display: flex;
	align-items: center;
	position: relative;
	background-color: var(--Surface-container-highest-color);
	color: var(--On-surface-variant-color);
	.icon-container{
		margin-left: 12px;
	}
	.clear-container{
		margin-right: 12px;
		cursor: pointer;
		z-index: 4;
	}
	.input-container{
		height: 56px;
		z-index: 3;
		flex: 100%;
		margin: 0 16px;
		padding-top: 8px;
		padding-bottom: 8px;
		label{
			position: absolute;
			line-height: calc(56px - 16px);
			transition: .3s;
			z-index: 3;
		}
		input{
			position: absolute;
			background-color: transparent;
			outline: none;
			width: calc(100% - 52px);
			bottom: 8px;
			z-index: 4;
			line-height: 26px;
			font-size: 18px;
			&:focus ~ label,
			&:valid ~ label
			{
				top: 8px;
				font-size: 10px;
				color: var(--Primary-color);
				font-weight: bold;
				line-height: 13px;
			}
			&:read-only ~ label
			{
				top: 8px;
				font-size: 10px;
				font-weight: bold;
				line-height: 13px;
			}
			&:focus ~ .text-field-line,
			&:valid ~ .text-field-line
			{
				background-color: var(--Primary-color);
			}
			&.error ~ .text-field-line{
				background-color: var(--Error-color);
			}
			&.error ~ label{
				color: var(--Error-color);
			}
		}
		.text-field-line{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: var(--On-surface-variant-color);
		}
	}

	&.border{
		border-radius: 10px;
		.text-field-line{
			border: 1px solid var(--On-surface-variant-color);
			width: 100%;
			background-color: transparent;
			height: 100%;
			border-radius: 10px;
			z-index: 2;
		}
		input{
			z-index: 3;
			bottom: 50%;
			transform: translateY(50%);
			&:focus ~ .text-field-line,
			&:valid ~ .text-field-line
			{
				border: 1px solid var(--Primary-color);
				background-color: transparent;
			}
			&.error ~ .text-field-line{
				border: 1px solid var(--Error-color);
				background-color: transparent;
			}
			&:focus ~ label,
			&:valid ~ label
			{
				top: -7px;
				padding: 0 3px;
				font-size: 10px;
				color: var(--Primary-color);
				font-weight: bold;
				line-height: 13px;
			}
			&:read-only ~ label
			{
				top: -7px;
				padding: 0 3px;
				font-size: 10px;
				font-weight: bold;
				line-height: 13px;
			}
		}
		label{
			background-color: var(--Surface-container-highest-color);
		}
	}
}
