.text-area{
    overflow: hidden;
    position: relative;
    background-color: var(--Surface-container-high-color);
	color: var(--On-surface-variant-color);
    .textarea-container{
		z-index: 3;
		flex: 100%;
		margin: 0 16px;
		padding-top: 8px;
		padding-bottom: 8px;
    }
    textarea{
        resize: vertical;
        background-color: var(--Surface-container-high-color);
        width: 100%;
        outline: none;
    }
    &.border{
        border: none;
        border-radius: 10px;
        border: 1px solid var(--On-surface-variant-color);
        textarea{
            resize: vertical;
            background-color: var(--Surface-container-high-color);
            width: 100%;
            outline: none;
        }
    }
}

