/* @import "./header.light.css";
@import "./header.night.css"; */
@import "./header.color.css";
header{
  height: 60px;
  position: fixed;
  top: 0;
  left: 60px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: calc(100% - 60px);
  z-index: 4;
}
header h1{
  padding-top: 15px;
  margin: 0 30px;
}
header .btn{
  background: #444;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .btn:hover,
header .btn.active{
  background: var(--active-v1-color);
}
header .controls{
  display: flex;
}
header .search{
  display: flex;
  transition: 1s;
}
header .search.hide{
  width: 0px;
  overflow: hidden;
}
header .search.show + .controls{
  display: none
}

.search input{
  max-width: 300px;
  display: block;
  position: relative;
  outline: none;
  font-size: 20px;
  border: none;
  box-shadow: inset 0 0 5px #000;
  height: 30px;
  top:15px;
}
.searchBtn{
  width: auto;
  position: relative;
  height: 30px;
  margin: 0 10px;
  top:15px;
  font-weight: bold;
  display: block;
  padding: 3px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #000;
  transition: 0.25s;
  transform: translate(-1px ,-1px);
}
.searchBtn:active{
  box-shadow: none;
  transform: none;
}

@media (max-width: 700px){
  header{
    z-index: 10
  }
  header h1{
    display: none;
  }
  .searchBtn{
    display: none;
  }
}
