.device-card{
    min-width: 350px;
    .device-field.offline-field{
        background-color: var(--Error-color);
        border-radius: 10px;
        color: var(--Error-container-color);
        opacity: .8;
    }
    .device-card-content{
        position: relative;
        .disable-control{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff2;
            z-index: 10;
        }
    }
}

@media (max-width:400px) {
    .device-card{
        min-width: 100%;
        width: 100%;
    }
}