/* @import "./menuOption.light.css";
@import "./menuOption.night.css"; */
@import "./menuOption.color.css";

.menu-component-paragraph{
  height: 60px;
  width: calc(100% - 2px);
  border: 1px solid var(--head-v2-color);
  display: flex;
  position: relative;
}
.menu-component-paragraph p{
  line-height: 60px;
  margin: 0;
  margin-left: 50px;
  font-size: 1.5em;
}
.menu-component-paragraph .icon,
.menu-component-btn
{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.menu-component-paragraph i{
  font-size: 24px;
}
.menu-component-btn{
  position: absolute;
  right: 0;
}
