/* @import "./menuOption.light.css";
@import "./menuOption.night.css"; */
@import "./menuOption.color.css";

.menu-component-paragraph{
  height: 60px;
  width: 100%;
  border-top: 1px solid var(--color-darken);
  border-bottom: 1px solid var(--color-darken);
  display: flex;
  z-index: 0;
  position: relative;
}
.menu-component-paragraph p{
  line-height: 60px;
  margin: 0;
  margin-left: 50px;
  font-size: 1.5em;
}
.menu-component-paragraph .icon,
.menu-component-btn
{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.menu-component-paragraph i{
  font-size: 24px;
}
.menu-component-btn{
  position: absolute;
  right: 0;
}
.createLinkWindow{
  width: 50%;
}
.createLinkWindow .modalContent{
  background: var(--color-normal);
}
.createLink{
  width: 100%;
}
.fieldLinc{
  border-bottom: 1px solid var(--color-darken);
  border-top: 1px solid var(--color-darken);
}
.createLink p{
  width: 100%;
  text-align: center;
  color: var(--text-color-darken-fon);
  font-size: 20px;
}
.createLink input{
  display: block;
  font-size: 1.8em;
  outline: none;
  width: 90%;
  margin: 10px auto;
  text-align: center;
  box-shadow: inset 0 0 5px #000;
  background: #ddd;
  border: none;
  border-radius: 4px;
}
