@import "./BaseCartElement.color.css";

.baseCartElement-box{
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.baseCartElement-box .icon-box button i.i-cost{
  font-size: 10px;
  color: #fff;
  text-align: center;
  box-shadow: none;
  position: relative;
  top: -2px;
}
.ElementLine{
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  background: var(--color-base);
}
.ElementLine .name{
  grid-column-start: 2;
  grid-row-start: 1;
}
.ElementLine .icon{
  grid-column-start: 1;
  grid-row-start: 1;
}
.ElementLine .control-big{
  grid-column-start: 3;
  grid-row-start: 1;
}
.flex{
  display: flex;
  justify-content: space-between;
}
