.start-script-block{
    border-radius: 8px;
    padding: 10px;
    border: 1px dashed var(--Outline-color);
    .script-name{
        padding: 10px;
        min-width: 250px;
        background-color: var(--Surface-container-low-color);
        border-radius: 8px;
        margin: 10px 0;
    }
    .script-trigger{
        padding: 10px;
        margin: 10px 0;
    }
    .script-item.script-trigger, .script-save{
        height: auto;
        margin: 10px 0;
        h4{
            text-align: center;
        }
        // display: flex;
        // justify-content: center;
    }
}