.weather-box{
  height: 100%;
  width: 100%;
  position: relative;
}
.city{
  z-index: 0;
  position: absolute;
  top: 2px;
  width: 100%;
  text-align: center;
  height: 18px;
}
.weather-body{
  /* padding-top: 20px; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: flex-end;
}
.weather-body.wide{
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}
.weather-body.tall{
  justify-content: center;
}
.weather-body.wide.tall{
  flex-direction: column;
  /* justify-content: space-around; */
}
.weather-body.veryWide.tall{
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  height: 30%;
}
.weather-body.veryWide .day_anchor-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-body.veryWide.tall .day_anchor-div div{
  margin: 0 5px;
}
.weather-body.veryWide.veryTall .day_anchor-div{
  display: block;
}
.forecast{
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}
.weather-body.veryTall{
  height: 50%;
}
.weather-body.veryTall + .forecast{
  height: 50%;
}
.forecast .day_anchor-div{
  display: block;
}
.forecast-weather-body{
  font-size: 13px;
  position: relative;
  left: 0;
  border-top: 1px solid var(--content-color);
  /* border: 1px solid var(--body-v2-color); */
}
.day_anchor-div i{
  font-size: 2em;
  margin: 5px 0
}
.temp{
  position: relative;
  margin: 10px 0;
  font-size: 20px;
  min-width: 60px;
}
.day-anchor{
  margin: 5px 0;
}
.forecast-weather-body .day-anchor{
  height: 30px;
}
.forecast-temp-day{
  font-size: 18px;
}
.forecast-temp-night{
  font-size: 14px;
}
