.condition-blocks{
    display: flex;
    .condition-blocks-coll{
        flex: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &>*{
        }
    }
}
.add-script-block{
    width: 40px;
    height: 40px;
    background-color: var(--Surface-container-low-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    cursor: pointer;
}   

.script-constrictor-condition-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    & + .add-script-block{
        margin-top: 0;
    }
    .script-constrictor-condition-container-branch-container{
        position: relative;
    }
    canvas{
        z-index: 0;
    }
    .script-constrictor-condition-container-branch{
        flex-direction: column;
        position: relative;
        display: flex;
        align-items: center;
        z-index: 10;
        height: 100%;
        padding: 0 10px;
    }
}