
body.light{
  --head-color: #aebfda;
  --content-color: #ddd;
  --text-color:#000;
  --btn:90%;
  --gradient: linear-gradient(to bottom, #ccc, #eee);
  --background:#dddd;

  --content-darken-color: #aaa;
  --head-darken-color: #8e9fba;

}
