
body.night{
  --color-darken: #444;
  --color-normal: #666;
  --color-glass: #6667;
  --color-light: #888;
  --text-color-darken-fon: #fff;
  --text-color-light-fon: #000;
  --btn-color-darken: #555;
  --btn-color-normal: #777;
  --btn-color-light: #999;
}
