body.night{
  --head-v1-color: #696969;
  --head-v2-color: #333;
  --body-v1-color: #808080;
  --body-v2-color: #696969;
  --body-v3-color: #505050;
  --background-v1-color: #111c;
  --text-v1-color: #fff;
  --text-v2-color: #000;
  --text-v3-color: #000;
  --text-v4-color: #fff;
  --text-disabled-color: #a9a9a9;
  --btn-v1-color: #fff;
  --btn-v2-color: #444;
}
