
body.night{
  --head-color: #444;
  --content-color: #808080;
  --text-color:#fff;
  --btn:120%;
  --gradient: linear-gradient(to bottom, #333, #555);
  --background:#808080d0;

  --content-darken-color: #606060;
  --head-darken-color: #353535;
}
