/* Контейнер для спиннера */

.loading-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--Primary-color);
    background-color: rgba(var(--Surface-container-color), 0.9);
    z-index: 800;
  }
  
  /* Спиннер */
  .loading-spinner {
    border: 8px solid var(--Secondary-container-color); /* Светлый фон */
    border-top: 8px solid var(--Primary-color);; /* Цвет спиннера */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  /* Анимация вращения */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.loading-container{
  p {
      margin-top: 20px;
      font-size: 16px;
      font-weight: bold;
  }
}  
  