.swich-container{
    height: 44px;
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]
{
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background-color: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .5s;
    &:checked{
        background-color: var(--color-active);
    }
    &::before{
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        top: 0;
        left: 0;
        background-color: #fff;
        transform: scale(1.1);
        box-shadow: 0 2px 5px rgba(0,0,0,.2);
        transition: .5s;
    }
    &:checked::before{
        left: 40px;
    }
}