
.swich-container{
    height: 32px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    input[type="checkbox"]{
        position: relative;
        width: 52px;
        height: 32px;
        -webkit-appearance: none;
        &::before{
            content: '';
            width: 52px;
            position: absolute;
            height: 32px;
            background: var(--Surface-variant-color);
            border-radius: 32px;
            border: 2px solid var(--Outline-color);
        }
        &:checked::before{
            background-color: var(--Primary-color);
        }
        &::after{
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            left: 8px;
            top: 8px;
            transition: .3s;
            background-color: var(--Outline-color);
            border-radius: 50%;
            box-sizing: border-box;
        }
        &:checked::after{
            left: 25px;
            background-color: var(--On-primary-color);
            width: 24px;
            height: 24px;
            top: 4px;
        }
    }
}