.ElementLine .control{
  width: 172px;
  height: 45px;
}
.ElementLine .control input[type="text"]{
  font-size: 18px;
  width: 70%;
  border: none;
  border-radius: 2px;
  outline: none;
  margin-right: 6%;
}
.ElementLine .control input[type="button"]{
  font-size: 18px;
  width: 24%;
  border: none;
  border-radius: 2px;
  outline: none;
}
