.calendar-body-container{
    padding: 20px 12px 12px;
    width: 328px;
    height: 428px;
    background-color: var(--Surface-container-high-color);
    color: var(--On-surface-variant-color);
    box-shadow: 0 0 5px -3px var(--Shadow-color);
    border-radius: 10px;
    z-index: 101;
    .calendar-body-select-container{
        display: flex;
        padding-bottom: 30px;
        border-bottom: 1px solid var(--Outline-variant-color);
        & > div{
            flex: 100%;
            display: flex;
            justify-content: center;
            span{
                cursor: pointer;
                display: flex;
                transition: .4s;
                svg{
                    transition: .4s;
                }
                &.active > svg{
                    transform: rotate(180deg);
                }
            }
        }
    }
    .calendar-body-dayofweek-container{
        display: flex;
        justify-content: space-around;
        margin-bottom: 16px;
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            font-size: 20px;
        }
    }
    .calendar-body-months-container,
    .calendar-body-years-container{
        height: 284px;
        overflow-y: scroll;
        .calendar-body-months-item,
        .calendar-body-year-item{
            height: 56px;
            display: flex;
            color: var(--On-surface-color);
            background-color: var(--Surface-container-high-color);
            align-items: center;
            .status-container{
                height: 24px;
                width: 24px;
                margin-right: 16px;
            }
            &:hover{
                background-color: var(--Surface-variant-color);
            }
        }
    }
    .calendar-body-days-container{
        height: 284px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        // grid-auto-rows: 40px;
        grid-auto-rows: 1fr;
        .day{
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: var(--On-surface-color);
            &.other{
                color: var(--On-surface-variant-color);
            }
            &.now{
                color: var(--Primary-color);
                border: 1px solid var(--Primary-color);
            }
            &:hover{
                background-color: var(--Primary-color);
                color: var(--On-primary-color);
            }
        }
    }

    .calendar-body-action-container{
        height: 36px;
    }
}