.scriptElement{
  background: var(--color-normal);
  color: var(--text-color-normal-fon);
}
.scriptElement p{
  color: var(--text-color-darken-fon);
}
.scriptElement .scriptStatus button,
{
  background: var(--btn-color-normal);
}
