/* @import "./pages.light.css";
@import "./pages.night.css"; */
@import "./fonPage.base.css";
@import "./pages.color.css";
@import "./miniWindow/style.css";

.pages{
 position: relative;
 width: 100%;
 height: 100%;
}
.pages .page{
  display: none;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  z-index: 2;
  overflow-x: hidden;
}
.pages .page.active{
  display: block;
}
.pages .page-nav{
  position: absolute;
  right: 0;
  top: 0;
}
.pages .page-nav li{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 0 20px 20px 0;
  list-style: none;
  z-index: 1;
}
.pages .page-nav li a{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0 20px 20px 0;
}
.pages .page-nav li.active,
.pages .page-nav li:hover
{
  z-index: 3;
}
.pages .page-nav li .fas{
  position: absolute;
  font-size: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.configElement{
  min-height: 48px;
  display: flex;
  margin: 10px 15px;
  position: relative;
}
.configElement .switchText,
.configElement .text,
.configElement p
{
  font-size: 20px;
}
.input-data{
  height: 40px;
  width: 100%;
  position: relative;
  font-size: 17px;
}
.input-data input,
.input-data select{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 20px;
  border-bottom: 2px solid silver;
  color: var(--text-color-normal-fon);
  background: #0000;
  outline: none;
}
.input-data select option{
  background: var(--color-normal)
}
.input-data input:focus ~ label,
.input-data input:valid ~ label,
.input-data select:focus ~ label,
.input-data select:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
}
.input-data input:focus ~ label,
.input-data select:focus ~ label{
  color: var(--color-active);
}
.input-data input:focus,
.input-data select:focus{
  border-bottom: 2px solid var(--color-active);
}
.input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: silver;
  pointer-events: none;
  transition: 0.3s;
}
.configElement.block{
  display: block;
}
.configElement .text input{
  display: inline-block;
}
.StyleChoice{
  display: grid;
  border: none;
  box-shadow: none;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 2px;
  grid-auto-rows: 1fr
}
.choiceElement{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  transition: .5s;
  position: relative;
}
.choiceElement::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0000;
  z-index: 3;
}

.choiceElement.deleted:hover::after{
  content: 'x';
  line-height: 82px;
  text-align: center;
  align-items: center;
  font-size: 30px;
  background: #F009;
}
.choiceElement i{
  font-size: 2.5em;
}
.configElement h2{
  display: block;
  /* position: absolute; */
  width: 100%;
  font-size: 40px;
  text-align: center;
}
.configElement h3{
  display: block;
  position: relative;
  width: 100%;
  font-size: 40px;
  text-align: center;
}
.configElement img.choice{
  position: relative;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: none;
  transition: .5s;
}
.configElement .text input{
  font-size: 24px;
  width: 90%;
  text-align: center;
}
@media (max-width: 700px) {
  .pages .page{
    width: 100%;
    left: 0;
    height: calc(100% - 60px);
    border-radius: 0 4px 4px 4px;
  }
  .pages .page-nav{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
  }
  .pages .page-nav li,
  .pages .page-nav li a{
    border-radius: 20px 20px 0 0;
    width: 120px;
    height: 60px;
  }
}
